service: giveitawaynow
frameworkVersion: "2 || 3"

plugins:
  - serverless-plugin-typescript
  - serverless-dynamodb-local
  - serverless-offline

custom:
  resourceNamePrefix: giveitawaynow
  workspace: 402952170352

provider:
  name: aws
  runtime: nodejs14.x
  region: ap-southeast-2
  lambdaHashingVersion: "20201221"
  memorySize: 256
  stage: local
  stackName: ${self:custom.resourceNamePrefix}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        Fn::GetAtt:
          - ItemsTable
          - Arn

functions:
  take:
    name: ${self:custom.resourceNamePrefix}-take
    handler: src/take/take-handler.handler
    events:
      - httpApi: "GET /api/take"
    environment:
      ENV: ${file(./config.${opt:stage, self:provider.stage}.json):ENV}
  give:
    name: ${self:custom.resourceNamePrefix}-give
    handler: src/give/give-handler.handler
    events:
      - httpApi: "POST /api/give"
    environment:
      ENV: ${file(./config.${opt:stage, self:provider.stage}.json):ENV}

resources:
  - ${file(tables/itemsTable.yml)}
